body {
  font-family: 'Lato', sans-serif; }

h1, h2, h3 {
  font-weight: 300; }

.bg-success {
  background-color: #71b100 !important; }

@media (min-width: 768px) {
  .top-bar.bg-success {
    background-color: transparent !important; }
  .header {
    position: relative; }
  .header .top-bar {
    position: absolute;
    z-index: 100; } }

.navbar-brand {
  font-size: 2rem;
  font-weight: 300; }
  .navbar-brand span {
    font-weight: 900; }

.navbar-nav .nav-link {
  text-transform: uppercase;
  color: #ffffff !important;
  font-size: .8rem; }

.dropdown-menu {
  background-color: #71b100; }
  .dropdown-menu .dropdown-item {
    color: #fff;
    text-transform: uppercase; }
    .dropdown-menu .dropdown-item:hover {
      background-color: #e08709; }

.carousel-caption h3 {
  font-size: 2.4rem; }

.info-block .price {
  font-size: 1.4rem; }

.info-block .btn-warning {
  background-color: #e08709;
  color: #ffffff;
  font-weight: 700;
  border-color: #e08709; }

.info-block h4 {
  font-size: 1.2rem; }
